
<nav class="navbar navbar-expand-sm">
  <a class="navbar-brand" href="/home">HOME</a>

  <span class="navbar-toggler-icon"></span>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul>
      <li><a href="/plant">PLANTS</a></li>
      <li><a href="/foods">BAKERY</a></li>


    </ul>
    <!--nav class="navbar navbar-dark default-color">
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
    </form>
  </ nav>-->

    <div class="alignright">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
          <a class="nav-link p-0" href="#">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                 alt="avatar image" height="35">
          </a>
        </li>
      </ul>
    </div>
    <div class="alignright">
      <ul>
        <li><a href="/auth">LOGIN</a></li>
      </ul>
    </div>
    <div class="alignright">
      <ul>
        <li><a class="fas fa-shopping-cart" href="/cart">CART</a></li>
      </ul>
    </div>




  </div>
</nav>


<!--body style="background-color: blanchedalmond">
  <div class="container">
    <img alt="Angular Logo" src="assets/images/770973b11d824cb197b527cd2e39decb.jpeg" style="width:100%;">
    <div class="content">
      <h1> Welcome to {{ title }}</h1>
      <p>Home grown plants, home made foods sold locally</p>
    </div>
  </div>



</!--body>
-->

<router-outlet></router-outlet>
