<body>

  <table border="1">
    <thead></thead>
    <tr>
      <th>plantId</th>
      <th>plantName</th>
      <th>plantDescription</th>
      <th>inStock</th>
      <th>price</th>

    </tr>

    <tbody>
      <tr *ngFor="let plant of plant">
        <td>{{plant.plantId}}</td>
        <td>{{plant.plantName}}</td>
        <td>{{plant.plantDescription}}</td>
        <td>{{plant.inStock}}</td>
        <td>{{plant.price}}</td>
      </tr>
    </tbody>
  </table>

  <div class="container">
      <img align="right" alt="Angular Logo" src="assets/images/67288905_973181393073807_6582717561253658448_n(1).jpg" style="width:100%;">
      <div class="content">
        <h1>Plant Market</h1>
      </div>
    </div>



</body>
